# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SnakeKefir.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\SnakeKefir\.idea\.idea.SnakeKefir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
